header{
  background-repeat: no-repeat;
  background-image:   linear-gradient(90deg, rgba(10,0,69,0.30015756302521013) 0%, rgba(10,0,69,0.25253851540616246) 35%, rgba(10,0,69,0.2497373949579832) 100%), url('/public/images/Brock.jpg');
  background-position: 75%;
  background-size:  150%;
}

#callToAction{
  display: flex;
  justify-content: space-evenly;
}

#headerLogo{
  width: 15vw;
  position: absolute;
  top: 0px;
  left: 0px;
}

#headerLogo, #footerLogo{
 justify-self: right;
 max-width: 20vw;
}

#first{
  margin-top: 5vw;
  margin-bottom: 5vw;
  min-height: 10vh;
  max-height: 20vh;
  justify-self: start;
  align-self: center;
  width: 25vw;
  font-size: 2rem;
}

.link{
  background-color: #01b4d2;
  border: none;
  color: #0A0045;
  font-weight: bold;
  min-width: 15vw;
  max-width: 50vw;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.question{
  color: white;
  font-weight: 500;
  text-align: center;
  width: 25vw;
  margin-top: -5vh;
}

.questionContainer{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.answer{
  color: #01b4d2;
  font-weight: 600;
  text-align: center;
  width: 35vw;
  margin-top: 2vh;

}

.videoPlaceholder{
  margin-top: 3vh;
  margin-bottom: 5vh;
  padding: 2vh;
  display: flex;
}

.placeHolder{
  min-width: 60%;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 5vh;
}

#FirstSection{
  background-image: url('/public/images/upCircle.png');
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: -6vh;
  margin-bottom: 5vh;
  padding: 5vh;
  z-index: 1;
  position: relative;
}

#secondCallToAction{
  margin: 0.5vh auto;
  border: white solid 0.3rem;
  width: 50%;
  height: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh;
}

.Description{
  width: 25vw;
  color:#0A0045;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5vh;
}

#second{
  background-color: #0A0045;
  color: #01b4d2;
  margin-left: 2vw;
  height: 5vh;
  font-size: 1.5rem;
}

#ServiceCall{
 text-align: center;
 margin: 5vh;
}

#ServiceCall > h2{
  color: white;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.50);
  margin: 2.5vh;
}

#ServiceCall > h3{
  width: 35vw;
  margin: auto;
  font-weight: 500;
}

#SecondSection{
  background-image: url('/public/images/BlueWood.png');
  margin-top: -45vh;
  padding-top: 65vh;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#watermark{
  opacity: 0.2;
  position: relative;
  z-index: 1;
  margin-top: -40vh;
  height: 1500px;
}

#countyList{
  position: relative;
  z-index: 2;
  margin-top: -129vh;
  margin-bottom: 20vh;
}

#counties1{
  margin: auto 45vw;
}
#counties2{
  margin: auto 35vw;
}

#counties1, #counties2{
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  display: flex;
}


.CountyImage{
  border-radius: 50px;
  height: 30vh;
  max-width: 15vw;
  object-fit: cover;
}

.countyDiv{
  margin: 5vh 10vh;
  max-width: 15vw;
}

.countyDiv > h2{
  margin-top: 2.5vh;
}

#calculator{
  text-align: center;
  color: white;
  margin: -5vh 5vh 5vh;
  position: relative;
  z-index: 2;
}
#calculator > h2, #calculator > .selects, #calculator > .calculator{
  margin: 2vh
}

#calculator > p{
  margin: 5vh;
}

#select7{
  display: none;
}
select{
  background-color: #01b4d2;
  border: none;
  border-radius: 75px;
  height: 7vh;
  width: 25vw;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  appearance: none;
  background-image: url('/public/images/plus-xxl.png');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 95%;
}

select:hover{
  cursor: pointer;
}

#cross{
  color: white
}
.selects{
  display: flex;
  justify-content: space-around;
  color:#0A0045;
  margin: 7vh auto;
  min-width: 25vw;
}

.calculator{
  display: flex;
}
.quater-container{
  margin: 2vw;
  border-radius: 50px;
}
.up-container{
  background-color: white;
  color:#0A0045;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 20vh;
}

.quaterNumber{
  padding-top: 2vh;
}
.down-container{
  background-color: #01b4d2;
  color:#0A0045;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: -2vh;
  height: 10vh;
  padding-top: 1vh;
}

#thirdSection{
  background-image: url('/public/images/OtherBackground.png');
  background-repeat: no-repeat;
  background-size:100%;
  height: 800px;
  text-align: center;
  padding-top: 15vh;
}

#thirdSection > h2{
  font-size: 4rem;

}

#thirdSection > p {
  font-weight: 450;
}

#thirdSection > h3{
  font-size: 2rem;
  width: 40vw;
  margin: auto;
  margin-bottom: 5vh;
}
#thirdSection > #oH3{
  width: 50vw;
}
#thirdSection > h2, #thirdSection > p{
  margin: 5vh;
}
#thirdSection > h2{
  color: white;
  text-shadow: 3px 6px 2px rgba(0,0,0,0.51);
}

#thirdSection > .link{
  background-color: #0A0045;
  height: 7vh;
  width: 5vw;
  color:#01b4d2;
  margin-bottom: 5vh;
  font-size: 1.5rem;
}

#forthSection{
  background-color: #0A0045;
  text-align: center;
  height: 100%;
  position: relative;
  margin-top: -3vh;
  -moz-margin-top: -2vh;
}

#forthSection > h2{
  color: white;
  text-align: center;
  padding-top:5vh ;
  font-size: 2rem;
  width: 48vw;
  margin: auto;
}

#forthSection > h3 {
  color:#01b4d2;
  margin: 5vh;
}

.container{
  color:#01b4d2;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.familiar{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align:left;
}

.oContainer{
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  height: 10vh;
  margin: 2vh 25vw;
  padding-bottom: 5vh;
  border-radius: 100px;
  margin-bottom: 25vh;
}
.oContainer > h2{
  font-size: 1.5rem;
  width: 25vw;
  align-self: center;
  margin-top: 5vh;
}

.oContainer > .link{
  background-color:#0A0045;
  color:#01b4d2;
  height: 5vh;
  align-self: center;
  margin-top: 5vh;
  font-size: 1.5rem;
}

#FiveSection{
  position: relative;
  background-image: url('/public/images/Down.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: -15vh;
  z-index: 4;
}

#FiveSection > h2 {
  margin: 5vh;
  text-align: center;
  color: white;
  text-shadow: 3px 6px 2px rgba(0,0,0,0.51);

}

.speech {
  font-size: 1.1em;
 
  color: #0A0045;
  background: #01b4d2;
 
  position: relative;
  padding: 20px;
  border-radius: 100px;
  margin: 50px auto;
  max-width: 320px;
  text-align: center;
}

.speech::after {
  content: "";
  border: 20px solid transparent;
 
  position: absolute;
}
.bottom.speech::after {
  border-top-color: #01b4d2;
  border-bottom: 0;
  bottom: -20px; left: 50%;
  margin-left: -20px;
}

.familiar, .objective{
  margin: 1vh
}

.about{
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.box{
  border: solid 5px #01b4d2;
  border-radius: 15px;
  width: 20vw;
  min-height: 15vh;
  margin: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 4vh;
  margin: 5vh auto 2vh;
}

#fooH2{
  color: white;
  margin: 2vh auto;
  text-align: center;
}
.LT{
  margin-left: 7.9vw;
}
.familiarity, .objective{
  margin: 1vh;
  color: #01b4d2;
  font-size: 1.5rem;
}

.accordion{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
}

.item{
  background:#01b4d2;
  margin: 1.5rem;
  padding: 2rem;
  border: #0A0045 solid 10px;
  border-radius: 100px;
  font-size: 1.5rem;
  width: 40vw;
}

.title{
  color: #0A0045;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title >h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin: auto 5vw;
  text-align: c;
}

.content{
  color: #0A0045;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1)
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);

}

.LastCall{
  color: white;
  text-align: center;
  margin: -10vh 5vh 5vh;
  padding: 5vh;
}

.LastCall > h2{
  text-shadow: 3px 4px 2px rgba(0,0,0,0.51);
  width: 50vw;
  margin: auto;
}
.LastCall > .link{
  margin-top: 2.5vh;
  background-color: #0A0045;
  color: #01b4d2;
  height: 8vh;
  font-size: 1.5rem;
}

footer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
#footerLogo{
  margin-right: 2vw;
}
#focon{
  align-self: center;
  display: flex;
  align-items: center;
  margin-left: 10vw;
}

#TrustPilot, #G{
  max-width: 5vw;
  max-height: 5vh;
  margin: 1vw;
}

#socialsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-left: 5vw;
}

#social-title{
  text-align: center;
  margin-bottom: 0.5vh;
}

#socials{
  align-self: center;
  margin: auto 6vw;
  display: flex;
  width: 20vw;
  justify-content: space-around;
  align-items: flex-end;
}


.iconContainer{
  margin: 0.5vh 0.5vw;
  background-color: #01b4d2;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 10vh;
  width: 10vw;
}

.icon{
  font-size: 3rem;
  text-align: center;
  margin: 2.5vh auto;
}

footer > .link{
  height: 8vh;
  width: 100vw;
  align-self: center;
  background-color: #0A0045;
  color: #01b4d2;
  border: none;
  margin-bottom: 10vh;
  font-size: 1.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

.calculator > p{
  width: 50vw;
  margin: auto;
}

p{
  font-size: 1.4rem;
  text-align: center;
}

#first:hover, #first:active {
  color: #01b4d2;
  background-color: #0A0045;
  cursor: pointer;
}

#second:hover, #second:active, #third:hover, #third:active, #forth:hover, #forth:active, #fifth:hover, #fifth:active, #final:hover, #final:active{
  color:#0A0045;
  background-color: #01b4d2;
  border: #0A0045 5px solid;
  cursor: pointer;
}
.fooH3{
  margin-left: 20vw;
}


@media (min-width:320px) and (max-width: 480px) {
  #callToAction{
    width: 100%;
    justify-content: space-around;
  }
  #headerLogo{
    min-width: 55vw;
  }
  #first{
    font-size: 0.8rem;
    min-width: 45vw;
  }
  .question, .answer{
    width: 100%;
    font-size: 1rem;
  }
  #FirstSection{
    border-radius:50% 50% 50% 50% / 0% 0% 50% 50%;
  }
  #secondCallToAction{
    width: 90%;
    margin: 0.15vh -10vw;
    display: flex;
    justify-content: space-around;
  }
  .Description{
    font-size: 0.9rem;
    width: 100%;
  }
  #second{
    font-size: 0.5rem;
    width: 100%
  }

  #ServiceCall{
    width: 100%;
  }
  #ServiceCall > h2{
    font-size: 1.5rem;
    width: 100%;
    margin: auto -10vw;
  }

  #ServiceCall > h3{
    width: 100%;
    font-size: 1rem;
    margin: 2vh -10vw;
  }
  #watermark{
    height: 500px;
    margin-top: 60vh;
  }
  #countyList{
    flex-direction: column;
  }
  #counties1, #counties2{
    flex-direction: column;
  }
  
  .CountyImage{
    max-width: 75vw;
  }

  #calculator > h2{
    font-size: 1.5rem;
    width: 90%;
    margin: 2vh auto;
  }

  #calculator > p {
    width: 90%;
    margin: 2vh auto;
    font-size: 1rem;
  }

  #calculator > .selects{
    width: 90%;
    margin: 2vh auto;
  }
  .calculator{
    flex-direction: column;
  }

  #thirdSection{
    height: 1000px;
  }

  #thirdSection >h2{
    font-size: 2rem;
    margin-top: -5vh;
    
  }
  #thirdSection > h3{
    font-size: 1.5rem;
    width: 100%;
    margin-top: 5vh;
  }
  .up-container{
    height: 30vh;
  }

  #thirdSection > .link{
    width: 100vw;
  }

  #forthSection > h2{
    font-size: 1.5rem;
    width: 100%;
  }
  .container{
    flex-direction: column;
  }
  .box{
    width: 75%;
    margin: 10vw;
  }
  .oContainer{
    width: 100%;
    margin: 5vh auto 25vh;
  }
  .oContainer > h2 {
    font-size: 0.9rem;
    width: 100%;
  }
  .oContainer > .link{
    font-size: 0.9rem;
  }


  .accordion{
    display: flex;
    flex-direction: column;
  }

  .title > h2, .content{
    font-size: 1rem;
  }
  .LastCall > h2{
    width: 200%;
    margin: -0.5vh auto;
    margin-left: -9vh ;
    font-size: 1.5rem;
  }
  
  .LastCall > .link{
    font-size: 1rem;
    width: 100%;
  }

  #focon{
    flex-direction: column;
  }
  #footerLogo{
    min-width: 100vw;
  }

  #TrustPilot, #G{
    min-width: 50vw
  }
  .iconContainer{
    width: 80vw
  }

  footer > #final{
    width: 100%;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width:961px) and (max-width:1023px) { 
  header{
   background-position: 75%;
    background-size: 220%;
  }
  #first{
    font-size: 1rem;
    min-height: 7vh;
    margin-bottom: 7vh;
  }
  .question{
    width: 50vw;
    margin-top: 2.5vh;
  }
  .answer{
    width: 75vw;
  }
  #secondCallToAction{
    width: 75%;
  }
  .Description{
    width: 100%;
  }
  #second{
    font-size: 1rem;
    height: 7vh;
    min-width: 20vw;
  }
  #ServiceCall > h2{
    width:90vw;
    margin: 2.5vh auto;
  }
  #ServiceCall > h3{
    width: 90%
  }
  .countyDiv {
    margin: 5vh 5vh;
    max-width: 15vw;
  }

  .CountyImage {
    border-radius: 50px;
    height: 30vh;
    max-width: 20vw;
    object-fit: cover;
  }

  #countyList{
    margin-right: 6vh;
  }

  .countyDiv > h2{
    margin-left: 3vh;
  }

  #calculator{
    margin-top: -10vh;
  }
  select{
    font-size: 1.2rem;
    width: 35vw;
  }
  .up-container{
    height: 30vh;
  }
.up-container > p{
  margin: 0.5vh;
}

#thirdSection{
  background-size: 110%;
  height: 395px;
}
#thirdSection > h2{
  font-size: 2rem;
  margin: -10vh 2vh 5vh;
  width: 100%;
}

#thirdSection > h3{
  font-size: 1.5rem;
  margin-top: -2vh;
  width: 70vw;
}

#thirdSection > #oH3{
  width: 90vw;
}
#thirdSection > p{
  font-size: 1.4rem;
  margin-top: -2vh;
}

#thirdSection > #third{
  margin-top: -2vh;
  font-size: 0.9rem;
  width: 20vw;
  margin-left: 10vw;
}

#forthSection > h2{
  width: 90vw;
}
 }

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }